/src/NKingime.Core/bin
/src/NKingime.Core/obj
/tests/NKingime.Core.Tests/bin
/tests/NKingime.Core.Tests/obj
/packages
/.vs
/src/NKingime.Entity/bin
/src/NKingime.Entity/obj
/tests/NKingime.Entity.Tests/bin
/tests/NKingime.Entity.Tests/obj
/src/NKingime.Web/bin
/src/NKingime.Web/obj
/src/NKingime.Web.Mvc/bin
/src/NKingime.Web.Mvc/obj
