<?xml version="1.0" encoding="utf-8" ?>
<context>
  <dbContexts>
    <dbContext name="Default" type="NKingime.Core.EF.DefaultDbContext,NKingime.Core" nameOrConnectionString="Default"  enabled="true">
      <initializer type="" mappers="NKingime.Core.Tests"></initializer>
    </dbContext>
  </dbContexts>
</context>